*{
    /* `margin: 0;` establece el margen de todos los elementos en 0, lo que significa que no habrá
    espacio entre el elemento y su padre o elementos vecinos. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(242, 240, 246);
}
@font-face{
    font-family: looki;
    src: url('../fonts/lucida-handwriting-italic.ttf');
}
body{
    font-family: looki,Arial, Helvetica, sans-serif;
}

h1 {
  font-family: looki;
  font-size: 100px;
  text-align: center;
  margin-top: 5px;
  color: rgb(98, 5, 157);
}

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.title{
    text-align: center;
    margin-top: 60px;
}

.container-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 400px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    border: 2px solid rgb(98, 5, 157);
    border-radius: 14px;
    text-align: center;
    margin-top: 100px;
    position: relative;

}

.box img{
    width: 60%;
    transition: all 400ms;
}

.box h2{
    font-size: 16px;
    margin-top: 10px;
    transition: all 500ms;
}

.box .container-p{
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0px 10px;
    border-radius: 0px 0px 14px 14px;
}

.box p{
    font-size: 14px;
    color: #7a7a7a;
    opacity: 0;
    transform: translateY(150px);
    transition: all 600ms;
}


/*Efecto Hover*/


.box:hover{
    background: #fff;
}

.box:hover h2{
    transform: translateY(-30px);
}
.grilla{
    display: grid;
    grid-template-columns: 40% auto 50%;
    grid-template-areas: "ll""ojos""ki";
}
.ll{
    grid-area: "ll";
    display: flex;
    justify-content: end;
}
.ojos{
    grid-area: "ojos";
}
.ki{
    grid-area: "ki";
    display: flex;
    justify-content:baseline;
}


