@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&family=Kaushan+Script&family=Lobster+Two:ital,wght@1,700&display=swap');
:root {
  --primary: #a5c882;
  --secondary: #d33f49;
  --light: #fff;
  --dark: #000;
  --diabled: #e7e7e7;
}

body {
  font-family:'poppins', sans-serif;
  margin: 0;
  height: 100vh;
}
.img{
  background: url('../Recursos/Fondo5.jpg')no-repeat;
  background-size: cover;
  background-position: center;
}

header {
    margin-top: 0;
    width: 100%;
    height: 100px;
    background-color: #06113B;
    color: white;
  }

 header nav {
      padding: 0 10px 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  header nav .navbarNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
  }

  header nav .navbarNav a {
    color: white;
    font-weight: bolder;
    margin: 10px;
    text-decoration: none;
  }
  h2{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
  }

  main {
    height: auto;
  }

*:first-letter {
  text-transform: capitalize;
}

.roundBorder {
  border-radius: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list {
  margin: 25px auto;
  padding: 25px;
  background-color: var(--light);
  width: 100%;
  max-width: 50%;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateRight {
  display: flex;
  align-items: center;
}

#dateNumber {
  font-size: 50px;
}

#dateText {
  letter-spacing: 3px;
  text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText {
  font-weight: bold;
}

#dateMonth,
#dateYear {
  margin-left: 7px;
  font-size: 20px;
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20 60 20;
  grid-column-gap: 50px;
}

input {
  border: none;
  padding-left: 10px;
  background-color: var(--diabled);
  width: 75%;
  height: 30px;
}

input:focus {
  outline: none;
}

.addTaskButton,
.orderButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.addTaskButton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 18px;
  background-color: var(--diabled);
}

.orderButton {
  background-color: var(--secondary);
  color: var(--light);
}

.task {
  background-color: var(--primary);
  padding: 10px;
  margin-top: 50px;
  color: var(--light);
  cursor: pointer;
  border: #000;
}

.done {
  background-color: var(--diabled);
  text-decoration: line-through;
  color: var(--dark);
}
.image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 5px;
}
.image-list-item {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.image-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
